@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i)
@import ignore/constants.sass
@import ignore/Mixins/Pics_Us.sass
@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition


body
    padding: 0
    font-family: 'Source Sans Pro', sans-serif
    margin: 0
    color: rgba($FogText, 1)
    #about
        position: relative
        top: -201px
    .about
        height: 100vh
        width: 100vw
        background: $Back2
        background-size: cover
        display: flex
        flex-direction: row
        align-items: center
        .left
            min-width: 35%
            padding-right: 15px
            max-height: 40%
            display: block
            background: #FFFF00
            h1
                color: #000000
                text-align: right
                font-size: 80px
                margin: 10px 0px
            p
                color: #000000
                text-align: right
                font-size: 30px
                margin: 0px
        .right
            width: 60%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            P
                position: relative
                bottom: 7px
                color: #FFFFFF
                font-size: 28px
                text-align: left
                padding-left: 10px
                margin: 0px
            .Team
                width: 100%
            h1
                color: #FFFF00
                text-align: center
                font-size: 80px
                margin: 0px
            p
                color: #FFFFFF
                font-size: 28px
                text-align: left
                padding-left: 10px
                margin: 0px
            .jonnyRound
                width: 30%
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                float: left
                .img
                    width: 150px
                    height: 150px
                    border:
                        radius: 75px
                        color: #FFFFFF
                        width: 5px
                        style: solid
                    background: url(../img/Jonny.jpg) no-repeat center center
                    background-size: cover
            .sophiaRound
                width: 30%
                float: left
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                .img
                    width: 150px
                    height: 150px
                    border:
                        radius: 75px
                        color: #FFFFFF
                        width: 5px
                        style: solid
                    background: url(../img/Sophia.jpg) no-repeat center center
                    background-size: cover
            .alexRound
                width: 30%
                float: left
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                .img
                    width: 150px
                    height: 150px
                    border:
                        radius: 75px
                        color: #FFFFFF
                        width: 5px
                        style: solid
                    background: url(../img/Alex.jpg) no-repeat center center
                    background-size: cover
            .text
                p
                    color: #FFFFFF
                    padding-top: 20px
                    font-weight: 200
                    font-size: 20px
        h3
            color: #FFFFFF
            width: 80%
            text-align: center
            font-size: 20px
            font-weight: 100


    #contact
        position: relative
        top: -134px
    .contact
        height: 100vh
        width: 100vw
        background: url(../img/contact.jpg) no-repeat center center fixed
        background-size: cover
        background: #60e8de
        background-size: cover
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .left
            max-width: 30%
            text-align: left
            h1
                font-size: 80px
                color: #FFFF00
        .right
            max-width: 50%
            margin: 5%
            text-align: center
            h2
                font-size: 32px
            p
                margin: 0px
                font-size: 28px
    #how_it_works
        position: relative
        top: -67px
    .how_it_works
        height: 100vh
        width: 90vw
        background: $Back2
        padding: 0vw 5vw
        .imgLeft
            width: 40%
            float: left
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            .video
                width: 100px
                height: 100px
            video
                max-width: 100%
        .textRight
            height: 100%
            width: 45%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            float: right
            text-align: left
        img
            width: 100px
            float: left
        .rightimg
            p
                color: #FFFFFF
                float: left
                width: 65%
                font-size: 20px

        p
            color: #FFFFFF
            float: right
            width: 65%
            font-size: 20px
        h1
            font-size: 100px
            margin: 0px
            text-align: center
            color: #FFFF00
        h2
            color: #FFFF00
            font-size: 100px
            padding-top: 0px
            padding-right: 100px
            text-align: right
        h3
            font-size: 20px
            padding-top: 0px
            padding-right: 60px
            color: #FFFFFF
            font: italic
    #pricing
        position: relative
        top: -67px
    .pricing
        height: 100vh
        width: 100vw
        background: url(../img/Pricing.jpg) no-repeat center center fixed
        background: #60e8de
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-size: cover
        h1
            font-size: 80px
        .bottom
             h3
                 font-size: 50px
        .sections
            width: 80%
            display: flex
            padding: 10px
            flex-direction: row
            justify-content: center
            align-items: baseline
            .sensor
                width: 30%
                h2
                    color: #FFFF00
                    font-size: 38px
                    text-align: center
                p
                    text-align: center
                    font-size: 20px

    .problem
        height: 100vh
        width: 100vw
        background: url(../img/problem.jpg) no-repeat center center fixed
        background: #60e8de
        background-size: cover
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .problemLeft
            width: 30%
            padding: 20px
            h1
                font-size: 60px
                color: #FFFF00
        .problemRight
            max-width: 40%
            padding: 20px
            h2
                font-size: 45px
            p
                font-size: 20px
            b
                font-size: 32px
    #testimonials
        position: relative
        top: -134px
    .testimonials
        height: 100vh
        width: 100vw
        background: $Back2
        .title
            width: 100vw
            padding: 2.5vh 0vh
            h1
                font-size: 80px
                color: #FFFF00
                text-align: center
        .quotes
            display: flex
            width: 90vw
            padding: 0vw 5vw
            flex-direction: column
            justify-content: flex-start
            .shiftRight
                align-self: flex-end
        h1
            justify-content: center
            align-items: center
            font-size: 80px
            color: #FFFF00
        h2
            padding: 20px
            color: #FFFFFF
            font-style: italic
            font: Courier
            font-size: 32px


    .menu
        //Used to stop display of menu on landing screen
        display: block
        z-index: 999
        position: fixed
        width: 100vw
        height: 60px
        background: $MenuBg
        .logo
            padding: $PaddingDefault
            display: inline-block
            h2
                margin: 0
        .options
            padding: $PaddingDefault
            display: inline-block
            float: right
            width: 75%
            ul
                margin: 0
                padding: 0px 20px
                display: inline-block
                float: right
                li
                    display: inline
                    padding-left: $PaddingDefault
                    float: left
                    a
                        text-decoration: none
                        font-size: $TextMedium
                        color: #000000
                        &:visited
                            color: #000000
                        &:after
                          clear: both
                          display: block
                          content: ""
                          position: relative
                          width: 0
                          height: 3px
                          margin-top: 4px
                          background: #000000
                          @include transition(width .5s, left .5s, all 0.5s)
                        &:hover, &:focus
                          color: #000000
                          &::after
                             width: 100%
                             left: 0

    .landing
        height: 100vh
        width: 100vw
        background: url(../img/landing.jpg) no-repeat center center fixed
        background-size: cover
        .FogOverlay
            display: none
            &::after
                background: url(../img/landingblur.jpg) no-repeat center center fixed
                background-size: cover
                opacity: 0.4
                top: 0
                right: 0
                bottom: 0
                left: 0
                position: absolute
                z-index: -1
            height: 100%
            width: 100%
            transition: 2s ease
        .glass
            width: 100vw
            background: $FogOverlay
            opacity: 1
            height: 100vh
            transition: 2s ease
            display: flex
            flex-direction: column
            justify-content: center
        h1
            text-align: center
        button
            border-radius: 50%
            width: 25%
            border: none
            cursor: pointer
            outline: none
            padding: 20px
            display: block
            margin: 50px auto
            background-color: transparent
            position: relative
            border: 2px solid $FogText
            transition: 0.6s ease
            &:hover
                background: darken($FogButtonHighlight, 10%)
        .landingMain
            width: 100vw
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .circle
                width: 360px
                height: 347px
                background: url(../img/scribble2.jpg)
                border-radius: 50%
                h1
                    position: relative
                    top: 94px
                    border-radius: 50%
                    width: 300px
                    height: 300px
                    text-align: center
                    font-size: 28px

    //.how_it_works
        background: $MenuBg
        height: 100vw
        width: 100vw
        h1
            text-align: center
            font-size: $H1Size
            word-break: break-all
            line-break: auto


    .About_Us
        background: $Back2
        height: 100vw
        width: 100vw
        h1
            text-align: center
            font-size: $H1Size
            word-break: break-all
            line-break: auto
        h2
            text-align: left
            justify-content: center
            font-size: 12px
            word-break: break-all
            line-break: auto
        h3
            text-align: center
            justify-content: center
            font-size: 12px
            word-break: break-all
            line-break: auto
        .Alex
             @include Pics_Us('../img/Alex.jpg')
        .Jonny
             @include  Pics_Us('../../img/Jonny.jpg')
        .Sophia
             @include Pics_Us('../../img/Sophia.jpg')

    //.Pricing
        background: #00ff00
        height: 100vw
        width: 100vw
        h1
          align-items: center
          justify-content: center
          font-size: 12px
          word-break: break-all
          line-break: normal
        h2
          align-items: left
          justify-content: center
          font-size: 12px
          word-break: break-all
          line-break: auto
