body {
  padding: 0;
  margin: 0;
  color: black; }
  body .menu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 60px;
    background: #22a3bf; }
    body .menu .logo {
      padding: 16px;
      display: inline-block; }
      body .menu .logo h2 {
        margin: 0; }
    body .menu .options {
      padding: 16px;
      display: inline-block;
      float: right; }
      body .menu .options ul {
        margin: 0;
        padding: 0; }
        body .menu .options ul li {
          display: inline;
          padding-left: 16px; }
          body .menu .options ul li a {
            text-decoration: none;
            font-size: 18px; }
  body .landing {
    height: 100vh;
    width: 100vw;
    background: url(../img/landing.jpg) no-repeat center center fixed;
    background-size: cover; }
    body .landing .FogOverlay {
      height: 100%;
      width: 100%;
      -webkit-transition: 2s ease;
      -o-transition: 2s ease;
      transition: 2s ease; }
      body .landing .FogOverlay::after {
        background: url(../img/landingblur.jpg) no-repeat center center fixed;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1; }
    body .landing .glass {
      width: 100vw;
      background: rgba(217, 214, 209, 0.8);
      opacity: 1;
      height: 100vh;
      -webkit-transition: 2s ease;
      -o-transition: 2s ease;
      transition: 2s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    body .landing h1 {
      text-align: center; }
    body .landing button {
      width: 25%;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 20px;
      display: block;
      margin: 50px auto;
      background-color: transparent;
      position: relative;
      border: 2px solid #000000;
      -webkit-transition: 0.6s ease;
      -o-transition: 0.6s ease;
      transition: 0.6s ease; }
      body .landing button:hover {
        background: #22a3bf; }
    body .landing .landingMain {
      width: 100vw;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .landing .landingMain .circle {
        background: #f00;
        width: 300px;
        height: 300px;
        border-radius: 50%; }
        body .landing .landingMain .circle h1 {
          position: relative;
          top: 94px;
          border-radius: 50%;
          width: 300px;
          height: 300px;
          text-align: center;
          font-size: 28px; }
  body .About_Us {
    background: #ff0000;
    height: 100vw;
    width: 100vw; }
    body .About_Us h1 {
      text-align: center;
      font-size: 32px;
      word-break: break-all;
      line-break: auto; }
    body .About_Us h2 {
      text-align: left;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 12px;
      word-break: break-all;
      line-break: auto; }
    body .About_Us h3 {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 12px;
      word-break: break-all;
      line-break: auto; }
