@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
body {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  color: black; }
  body #about {
    position: relative;
    top: -201px; }
  body .about {
    height: 100vh;
    width: 100vw;
    background: #001100;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .about .left {
      min-width: 35%;
      padding-right: 15px;
      max-height: 40%;
      display: block;
      background: #FFFF00; }
      body .about .left h1 {
        color: #000000;
        text-align: right;
        font-size: 80px;
        margin: 10px 0px; }
      body .about .left p {
        color: #000000;
        text-align: right;
        font-size: 30px;
        margin: 0px; }
    body .about .right {
      width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .about .right .Team {
        width: 100%; }
      body .about .right h1 {
        color: #FFFF00;
        text-align: center;
        font-size: 80px;
        margin: 0px; }
      body .about .right p {
        color: #FFFFFF;
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
        margin: 0px; }
      body .about .right .jonnyRound {
        width: 30%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        float: left; }
        body .about .right .jonnyRound .img {
          width: 150px;
          height: 150px;
          border-radius: 75px;
          border-color: #FFFFFF;
          border-width: 5px;
          border-style: solid;
          background: url(../img/Jonny.jpg) no-repeat center center;
          background-size: cover; }
      body .about .right .sophiaRound {
        width: 30%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .about .right .sophiaRound .img {
          width: 150px;
          height: 150px;
          border-radius: 75px;
          border-color: #FFFFFF;
          border-width: 5px;
          border-style: solid;
          background: url(../img/Sophia.jpg) no-repeat center center;
          background-size: cover; }
      body .about .right .alexRound {
        width: 30%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        body .about .right .alexRound .img {
          width: 150px;
          height: 150px;
          border-radius: 75px;
          border-color: #FFFFFF;
          border-width: 5px;
          border-style: solid;
          background: url(../img/Alex.jpg) no-repeat center center;
          background-size: cover; }
      body .about .right .text p {
        color: #FFFFFF;
        padding-top: 20px;
        font-weight: 200;
        font-size: 20px; }
    body .about h3 {
      color: #FFFFFF;
      width: 80%;
      text-align: center;
      font-size: 20px;
      font-weight: 100; }
  body #contact {
    position: relative;
    top: -134px; }
  body .contact {
    height: 100vh;
    width: 100vw;
    background: url(../img/contact.jpg) no-repeat center center fixed;
    background-size: cover;
    background: #60e8de;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .contact .left {
      max-width: 30%;
      text-align: left; }
      body .contact .left h1 {
        font-size: 80px;
        color: #FFFF00; }
    body .contact .right {
      max-width: 50%;
      margin: 5%;
      text-align: center; }
      body .contact .right h2 {
        font-size: 32px; }
      body .contact .right p {
        margin: 0px;
        font-size: 28px; }
  body #how_it_works {
    position: relative;
    top: -67px; }
  body .how_it_works {
    height: 100vh;
    width: 90vw;
    background: #001100;
    padding: 0vw 5vw; }
    body .how_it_works .imgLeft {
      width: 40%;
      float: left;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .how_it_works .imgLeft .video {
        width: 100px;
        height: 100px; }
      body .how_it_works .imgLeft video {
        max-width: 100%; }
    body .how_it_works .textRight {
      height: 100%;
      width: 45%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      float: right;
      text-align: left; }
    body .how_it_works img {
      width: 100px;
      float: left; }
    body .how_it_works .rightimg p {
      color: #FFFFFF;
      float: left;
      width: 65%;
      font-size: 20px; }
    body .how_it_works p {
      color: #FFFFFF;
      float: right;
      width: 65%;
      font-size: 20px; }
    body .how_it_works h1 {
      font-size: 100px;
      margin: 0px;
      text-align: center;
      color: #FFFF00; }
    body .how_it_works h2 {
      color: #FFFF00;
      font-size: 100px;
      padding-top: 0px;
      padding-right: 100px;
      text-align: right; }
    body .how_it_works h3 {
      font-size: 20px;
      padding-top: 0px;
      padding-right: 60px;
      color: #FFFFFF;
      font: italic; }
  body #pricing {
    position: relative;
    top: -67px; }
  body .pricing {
    height: 100vh;
    width: 100vw;
    background: url(../img/Pricing.jpg) no-repeat center center fixed;
    background: #60e8de;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover; }
    body .pricing h1 {
      font-size: 60px; }
    body .pricing .sections {
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      body .pricing .sections .sensor {
        width: 30%; }
        body .pricing .sections .sensor h2 {
          color: #FFFF00;
          font-size: 38px;
          text-align: center; }
        body .pricing .sections .sensor p {
          text-align: center;
          font-size: 20px; }
  body .problem {
    height: 100vh;
    width: 100vw;
    background: url(../img/problem.jpg) no-repeat center center fixed;
    background: #60e8de;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    body .problem .problemLeft {
      width: 30%;
      padding: 20px; }
      body .problem .problemLeft h1 {
        font-size: 60px;
        color: #FFFF00; }
    body .problem .problemRight {
      max-width: 40%;
      padding: 20px; }
      body .problem .problemRight h2 {
        font-size: 45px; }
      body .problem .problemRight p {
        font-size: 20px; }
      body .problem .problemRight b {
        font-size: 32px; }
  body #testimonials {
    position: relative;
    top: -134px; }
  body .testimonials {
    height: 100vh;
    width: 100vw;
    background: #001100; }
    body .testimonials .title {
      width: 100vw;
      padding: 2.5vh 0vh; }
      body .testimonials .title h1 {
        font-size: 80px;
        color: #FFFF00;
        text-align: center; }
    body .testimonials .quotes {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 90vw;
      padding: 0vw 5vw;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      body .testimonials .quotes .shiftRight {
        -ms-flex-item-align: end;
        align-self: flex-end; }
    body .testimonials h1 {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 80px;
      color: #FFFF00; }
    body .testimonials h2 {
      padding: 20px;
      color: #FFFFFF;
      font-style: italic;
      font: Courier;
      font-size: 32px; }
  body .menu {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 60px;
    background: #22a3bf; }
    body .menu .logo {
      padding: 16px;
      display: inline-block; }
      body .menu .logo h2 {
        margin: 0; }
    body .menu .options {
      padding: 16px;
      display: inline-block;
      float: right;
      width: 75%; }
      body .menu .options ul {
        margin: 0;
        padding: 0px 20px;
        display: inline-block;
        float: right; }
        body .menu .options ul li {
          display: inline;
          padding-left: 16px;
          float: left; }
          body .menu .options ul li a {
            text-decoration: none;
            font-size: 18px;
            color: #000000; }
            body .menu .options ul li a:visited {
              color: #000000; }
            body .menu .options ul li a:after {
              clear: both;
              display: block;
              content: "";
              position: relative;
              width: 0;
              height: 3px;
              margin-top: 4px;
              background: #000000;
              -moz-transition: width 0.5s, left 0.5s, all 0.5s;
              -o-transition: width 0.5s, left 0.5s, all 0.5s;
              -webkit-transition: width 0.5s, left 0.5s, all 0.5s;
              transition: width 0.5s, left 0.5s, all 0.5s; }
            body .menu .options ul li a:hover, body .menu .options ul li a:focus {
              color: #000000; }
              body .menu .options ul li a:hover::after, body .menu .options ul li a:focus::after {
                width: 100%;
                left: 0; }
  body .landing {
    height: 100vh;
    width: 100vw;
    background: url(../img/landing.jpg) no-repeat center center fixed;
    background-size: cover; }
    body .landing .FogOverlay {
      display: none;
      height: 100%;
      width: 100%;
      -webkit-transition: 2s ease;
      -o-transition: 2s ease;
      transition: 2s ease; }
      body .landing .FogOverlay::after {
        background: url(../img/landingblur.jpg) no-repeat center center fixed;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1; }
    body .landing .glass {
      width: 100vw;
      background: rgba(217, 214, 209, 0.8);
      opacity: 1;
      height: 100vh;
      -webkit-transition: 2s ease;
      -o-transition: 2s ease;
      transition: 2s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    body .landing h1 {
      text-align: center; }
    body .landing button {
      border-radius: 50%;
      width: 25%;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 20px;
      display: block;
      margin: 50px auto;
      background-color: transparent;
      position: relative;
      border: 2px solid #000000;
      -webkit-transition: 0.6s ease;
      -o-transition: 0.6s ease;
      transition: 0.6s ease; }
      body .landing button:hover {
        background: #22a3bf; }
    body .landing .landingMain {
      width: 100vw;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .landing .landingMain .circle {
        width: 360px;
        height: 347px;
        background: url(../img/scribble2.jpg);
        border-radius: 50%; }
        body .landing .landingMain .circle h1 {
          position: relative;
          top: 94px;
          border-radius: 50%;
          width: 300px;
          height: 300px;
          text-align: center;
          font-size: 28px; }
  body .About_Us {
    background: #001100;
    height: 100vw;
    width: 100vw; }
    body .About_Us h1 {
      text-align: center;
      font-size: 32px;
      word-break: break-all;
      line-break: auto; }
    body .About_Us h2 {
      text-align: left;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 12px;
      word-break: break-all;
      line-break: auto; }
    body .About_Us h3 {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 12px;
      word-break: break-all;
      line-break: auto; }
