@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i)
@import ignore/constants.sass
@import ignore/Mixins/Pics_Us.sass
@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -webkit-transition: $transition
  transition:         $transition


body
    padding: 0
    font-family: 'Source Sans Pro', sans-serif
    margin: 0
    color: rgba($FogText, 1)
    .about
        height: 100vh
        width: 100vw
        background: url(../img/about_us.jpg) no-repeat center center fixed
        background-size: cover
        h1
            color: #FFFF00
            text-align: right
            font-size: 80px
            padding-right: 50px
            padding-top: 200px
        h2
            color: #FFFFFF
            text-align: right
            font-size: 40px
            padding-right: 50px
            padding-top: 0px
        h3
            color: #FFFFFF
            text-align: right
            font-size: 30px
            padding-right: 50px
            padding-top: 0px


    .contact
        height: 100vh
        width: 100vw
        background: url(../img/contact.jpg) no-repeat center center fixed
        background-size: cover
        background: #60e8de
        background-size: cover
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .left
            max-width: 30%
            text-align: left
            h1
                font-size: 80px
                color: #FFFF00
        .right
            max-width: 50%
            margin: 5%
            text-align: center
            h2
                font-size: 32px
            p
                margin: 0px
                font-size: 28px
    .how_it_works
        height: 100vh
        width: 100vw
        background: url(../img/how_it_works.jpg) no-repeat center center fixed
        background-size: cover
        h1
            font-size: 100px
            padding-top: 100px
            padding-right: 50px
            text-align: right
            color: ##FFFF00
        h2
            font-size: 100px
            padding-top: 0px
            padding-right: 50px
            text-align: right
        h3
            font-size: 20px
            padding-top: 0px
            padding-right: 50px
            text-align: right
            color: #FFFFFF
            font: italic
    .login
        height: 100vh
        width: 100vw
        background: url(../img/login.jpg) no-repeat center center fixed
        background-size: cover
    .pricing
        height: 100vh
        width: 100vw
        background: url(../img/Pricing.jpg) no-repeat center center fixed
        background: #60e8de
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-size: cover
        h1
            font-size: 60px
        .sections
            width: 80%
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
            .sensor
                width: 30%
                h2
                    color: #FFFF00
                    font-size: 42px
                    text-align: center
                p
                    text-align: center
                    font-size: 20px

    .problem
        height: 100vh
        width: 100vw
        background: url(../img/problem.jpg) no-repeat center center fixed
        background: #60e8de
        background-size: cover
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .problemLeft
            width: 30%
            padding: 20px
            h1
                font-size: 60px
                color: #FFFF00
        .problemRight
            max-width: 40%
            padding: 20px
            h2
                font-size: 45px
            p
                font-size: 20px
            b
                font-size: 32px
    .testimonials
        height: 100vh
        width: 100vw
        background: $Back2
        h1
            justify-content: center
            align-items: center
            font-size: 80px
            color: #FFFF00
        h2
            padding: 20px
            color: #FFFFFF
            font-style: italic
            font: Courier
            font-size: 32px
        h3
            padding: 20px
            color: #FFFFFF
            font-style: italic
            font: Courier
            font-size: 32px
            text-align: right


    .menu
        //Used to stop display of menu on landing screen
        display: none
        position: fixed
        width: 100vw
        height: 60px
        background: $MenuBg
        .logo
            padding: $PaddingDefault
            display: inline-block
            h2
                margin: 0
        .options
            padding: $PaddingDefault
            display: inline-block
            float: right
            width: 75%
            ul
                margin: 0
                padding: 0px 20px
                display: inline-block
                float: right
                li
                    display: inline
                    padding-left: $PaddingDefault
                    float: left
                    a
                        text-decoration: none
                        font-size: $TextMedium
                        color: #000000
                        &:visited
                            color: #000000
                        &:after
                          clear: both
                          display: block
                          content: ""
                          position: relative
                          width: 0
                          height: 3px
                          margin-top: 4px
                          background: #000000
                          @include transition(width .5s, left .5s, all 0.5s)
                        &:hover, &:focus
                          color: #000000
                          &::after
                             width: 100%
                             left: 0

    .landing
        height: 100vh
        width: 100vw
        background: url(../img/landing.jpg) no-repeat center center fixed
        background-size: cover
        .FogOverlay
            &::after
                background: url(../img/landingblur.jpg) no-repeat center center fixed
                background-size: cover
                opacity: 0.4
                top: 0
                right: 0
                bottom: 0
                left: 0
                position: absolute
                z-index: -1
            height: 100%
            width: 100%
            transition: 2s ease
        .glass
            width: 100vw
            background: $FogOverlay
            opacity: 1
            height: 100vh
            transition: 2s ease
            display: flex
            flex-direction: column
            justify-content: center
        h1
            text-align: center
        button
            border-radius: 50%
            width: 25%
            border: none
            cursor: pointer
            outline: none
            padding: 20px
            display: block
            margin: 50px auto
            background-color: transparent
            position: relative
            border: 2px solid $FogText
            transition: 0.6s ease
            &:hover
                background: darken($FogButtonHighlight, 10%)
        .landingMain
            width: 100vw
            height: 100vh
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .circle
                background: $MenuBg
                width: 300px
                height: 300px
                border-radius: 50%
                h1
                    position: relative
                    top: 94px
                    border-radius: 50%
                    width: 300px
                    height: 300px
                    text-align: center
                    font-size: 28px

    //.how_it_works
        background: $MenuBg
        height: 100vw
        width: 100vw
        h1
            text-align: center
            font-size: $H1Size
            word-break: break-all
            line-break: auto


    .About_Us
        background: $Back2
        height: 100vw
        width: 100vw
        h1
            text-align: center
            font-size: $H1Size
            word-break: break-all
            line-break: auto
        h2
            text-align: left
            justify-content: center
            font-size: 12px
            word-break: break-all
            line-break: auto
        h3
            text-align: center
            justify-content: center
            font-size: 12px
            word-break: break-all
            line-break: auto
        .Alex
             @include Pics_Us('../img/Alex.jpg')
        .Jonny
             @include  Pics_Us('../../img/Jonny.jpg')
        .Sophia
             @include Pics_Us('../../img/Sophia.jpg')

    //.Pricing
        background: #00ff00
        height: 100vw
        width: 100vw
        h1
          align-items: center
          justify-content: center
          font-size: 12px
          word-break: break-all
          line-break: normal
        h2
          align-items: left
          justify-content: center
          font-size: 12px
          word-break: break-all
          line-break: auto
