HTML
    head
        title Our Group Project Page
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
    body
        .landing
            .FogOverlay
                .glass
                    h1 Out Group Project
                    center
                        button(onclick="landingClearFog()") 
                            h1 Click Here To See Clearly
        
        
        
