HTML
    head
        title Our Group Project Page
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
    body
        .menu
            .logo
                h2 Foggity
            .options
                ul
                    li 
                        a(href="#home") Home
                    li 
                        a(href="#problem") Problem
                    li 
                        a(href="#how_it_works") How it Works
                    li
                        a(href="#pricing") Pricing 
                    li
                        a(href="#testimonials") Testimonials 
                    li
                        a(href="#contact") Contact
                    li
                        a(href="#about") about
        #home      
            .landing
                .FogOverlay
                    .glass
                        center
                            button(onclick="landingClearFog()") 
                                h1 Click Here To See Clearly                          
                .landingMain
                    .circle
                        h1 Starting your day in a clearer way 
        #problem
            .problem
                .problemLeft
                    h1 WHAT PROBLEM ARE WE SOLVING
                .problemRight
                    h2 Take back control of your mornings...
                    .middle
                        p We've all been there, dragging yourself out of bed is hard enought without having to come out to a car thats fogged up, adding yet more time to your journey.
                        b Thats where FogMeister comes in.
        #how_it_works
            .how_it_works
        #pricing 
            .pricing 
        #testimonials
            .testimonials  
        #contact
            .contact
        #about
            .about 
        
        //- .how_it_works
        //-     h1 How It Works 
        //- .About_Us
        //-     h1 About Us 
        //-     h3 We are a 3rd year project team within Imperial collage called Ooooooooooo Netball. We have two Jews and a Muslim :) 
        //-     .Alex
        //-         h2 Alex Karet - Team leader #theboss #Ilovejsoc
        //-         BR
        //-     .Jonny
        //-         h2 Jonathan Midgen - 
        //-         BR
        //-     .Sophia
        //-         h2 Sophia Ahmed Ashford - Netball captain #Ilovenetballitelleveryoneimnetballcaptainbecauseimthatcool:)
        //-         BR 
        
        
        
            
    
