HTML
    head
        title Our Group Project Page
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
    body
        .menu
            .logo
                h2 Foggity
            .options
                ul
                    li 
                        a(href="#landing") Home
                    li 
                        a(href="#About") About
                    li 
                        a(href="#landing") Pricing
                    li
                        a(href="#landing") Login
              
        .landing
            .FogOverlay
                .glass
                    h1 Our Group Project
                    center
                        button(onclick="landingClearFog()") 
                            h1 Click Here To See Clearly                
            .Dropdown
        .text 
            #About
        .text 
            id="About"

            h1 About Us 
            h2 We are a 3rd year project team within Imperial collage called Ooooooooooo Netball. We have two Jews and a Muslim :) 
        .space
        
            
        
