HTML
    head
        title Our Group Project Page
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
    body
        .menu
            .logo
                h2 Foggity
            .options
                ul
                    li 
                        a(href="#landing") Home
                    li 
                        a(href="#landing") About
                    li 
                        a(href="#landing") Pricing
                    li 
                        a(href="#landing") Pricing
        .landing
            .FogOverlay
                .glass
                    h1 Our Group Project
                    center
                        button(onclick="landingClearFog()") 
                            h1 Click Here To See Clearly                
            .Dropdown
