HTML
    head
        title Our Group Project Page
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
        script(src="js/smoothscroll.js")

    body
        .menu
            .logo
                h2 FogMeister
            .options
                ul
                    li
                        a(href="#home") Home
                    li
                        a(href="#problem") Problem
                    li
                        a(href="#how_it_works") How it Works
                    li
                        a(href="#pricing") Pricing
                    li
                        a(href="#testimonials") Testimonials
                    li
                        a(href="#contact") Contact
                    li
                        a(href="#about") About
        #home
            .landing
                .FogOverlay
                    .glass
                        center
                            button(onclick="landingClearFog()")
                                h1 Click Here To See Clearly
                .landingMain
                    .circle

        #problem
            .problem
                .problemLeft
                    h1 WHAT PROBLEM ARE WE SOLVING?
                .problemRight
                    h2 Take back control of your mornings...
                    .middle
                        p We've all been there, dragging yourself out of bed is hard enough without having to come out to a car thats fogged up, adding yet more time to your journey.
                        b That's where FogMeister comes in.
        #how_it_works
            .how_it_works
                .imgLeft
                    img(src="img/user_diagram.jpg")
                .textRight
                    h1 HOW IT WORKS
                    h3 FogMeister will continuously monitor the humidity in your car in order to detect when the windscreen has fogged up. When it detects this, a notification will be sent to your phone. You then have the option to activate a dehumidifier in the car such that by the time you need to get in, your car will be ready to drive, avoiding any further delays to your journey!
        #pricing
            .pricing
                h1 PRICING
                .sections
                    .sensor
                        h2 SENSOR
                        p Allows automated and continual humidity detection
                    .sensor
                        h2 SOFTWARE
                        p Provides the user interface to detect humidity and allow control of the humidifier
                    .sensor
                        h2 DEHUMIDIFIER
                        p Remove the humidity in the care to a level that makes the fog on your windscreen disappear
                .bottom
                    h3 ALL FOR JUST £30

        #testimonials
            .testimonials
                .title
                    h1 TESTIMONIALS
                .quotes
                    .shiftLeft
                        h2 "FogMeister has changed my life" - Molly Acheson
                    .shiftRight
                        h2 "Must have device" - Tamara Elmani
                    .shiftLeft
                        h2 "Convices me to get out of bed in the morning" - Erk Bayer

        #contact
            .contact
                .left
                    h1 CONTACT US
                .right
                    h2 You can drop any of us a message to enquire about the product
                    p Sophia - sa5515@ic.ac.uk
                    P Jonny - jm2515@ic.ac.uk
                    P Alex - apk155@ic.ac.uk
        #about
            .about
                .left
                    h1 3
                    p Students.
                    h1 1
                    p Great idea.
                .right
                    h1 ABOUT US
                    P Meet the team
                    .team
                        .jonnyRound
                            .img
                            .text
                                p Jonny
                        .sophiaRound
                            .img
                            .text
                                p Sophia
                        .alexRound
                            .img
                            .text
                                p Alex
                    h3 Three third year EEE students, looking to achieve their Embedded Systems dream.

        //- .how_it_works
        //-     h1 How It Works
        //- .About_Us
        //-     h1 About Us
        //-     h3 We are a 3rd year project team within Imperial collage called Ooooooooooo Netball. We have two Jews and a Muslim :)
        //-     .Alex
        //-         h2 Alex Karet - Team leader #theboss #Ilovejsoc
        //-         BR
        //-     .Jonny
        //-         h2 Jonathan Midgen -
        //-         BR
        //-     .Sophia
        //-         h2 Sophia Ahmed Ashford - Netball captain #Ilovenetballitelleveryoneimnetballcaptainbecauseimthatcool:)
        //-         BR
