HTML
    head
        title Our Group Project Page
        link(rel='stylesheet', href='Style/style.css')
        script(src="js/landing.js")
    body
        .menu
            .logo
                h2 Foggity
            .options
                ul
                    li 
                        a(href="#landing") Home
                    li 
                        a(href="#About") About
                    li 
                        a(href="#landing") Pricing
                    li
                        a(href="#landing") Login
              
        .landing
            .FogOverlay
                .glass
                    center
                        button(onclick="landingClearFog()") 
                            h1 Click Here To See Clearly                          
            .landingMain
                .circle
                    h1 Starting your day in a clearer way 
        //- .how_it_works
        //-     h1 How It Works 
        //- .About_Us
        //-     h1 About Us 
        //-     h3 We are a 3rd year project team within Imperial collage called Ooooooooooo Netball. We have two Jews and a Muslim :) 
        //-     .Alex
        //-         h2 Alex Karet - Team leader #theboss #Ilovejsoc
        //-         BR
        //-     .Jonny
        //-         h2 Jonathan Midgen - 
        //-         BR
        //-     .Sophia
        //-         h2 Sophia Ahmed Ashford - Netball captain #Ilovenetballitelleveryoneimnetballcaptainbecauseimthatcool:)
        //-         BR
        .about  
            h1 here
        .contact
        .how_it_works
        .login
        .problem
        .testimonials  
        
            
    
